.btn{
  padding: 10px 10px;
  color: var(--color-text);
  font-family: VarelaRound;
  font-weight: bold;
  //font-size: 16px;
  letter-spacing: 1.2px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #e4e7f1;
  border: none;
  transition: all 0.2s linear;
  margin-bottom: 20px;

  &:hover {
    background-color: #d8defd;
  }
  &:active {
    background-color: #b7c1fc;

  }
}
