.btn{
  padding: 10px 15px;
  color: var(--color-text);
  font-family: 'VarelaRound';
  font-weight: bold;
  letter-spacing: 1.2px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #e4e7f1;
  transition: all 0.2s linear;
  margin-bottom: 20px;
  border: 1px solid #0b76ef;

  &:hover {
    background-color: #d8defd;
  }
  &:active {
    background-color: #b7c1fc;

  }
}
