.descriptionBlock {
  margin-top: 20px;
  padding-left: 10px;
  font-size: 14px;



  .name {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.1px;
  }
  .looking {
    margin-bottom: 10px;

    .lookingJob{
      margin-bottom: 10px;
    }
  }

}

.iconContact a svg {

  transition: all 0.1s linear;
  &:hover {

    transform: scale(1.4);
  }
}

