.nav{
    grid-area: n;
    background-color: #dfee08;
    margin-right: 15px;
    padding: 10px;
}

.item{
    color: #595959;
}


.item a.activeLink {
    color: #ffffff;
    /*color: goldenrod;*/
}

.name{

}

.postman{

}
