.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
}

.dialogsItem .active {
    color: #ffbe29;
}

.dialog {

}

.messages {
    padding: 10px;

}

.message {

}